<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="FontSize" value="350"/>
    <add key="FontColor1" value="255,255,255"/>
    <add key="BackgroundColor1" value="0,0,0"/>
    <add key="FontColor2" value="0,255,0"/>
    <add key="BackgroundColor2" value="0,0,0"/>
    <add key="FontColor3" value="255,255,0"/> 
    <add key="BackgroundColor3" value="0,0,0"/>
    <add key="FontColor4" value="255,0,0"/>
    <add key="BackgroundColor4" value="0,0,0"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
